* {
  margin: 0;
  padding: 0;
    box-sizing: border-box;
    background-image: url();
}


.columna {
    float: left;
    width: 50%;
    padding-right: 5px;
}

.fila::after {
    content: "d";
    clear: both;
    display: table;
}

.fila {

    width: 100%;
}
.center-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
  padding: 25px;
 
}
#titulo {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  animation: rainbow 3s infinite;
}
.navbar-expand-md{
  background-color: #6abefa;
}

@keyframes rainbow {
  0% { color: red; }
  16.67% { color: orange; }
  33.33% { color: purple; }
  50% { color: green; }
  66.67% { color: blue; }
  83.33% { color: purple; }
  100% { color: red; }
  100% {color: deepskyblue;}
}
h1, h2, h3 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  animation: cambioColor 3s infinite;
}

@keyframes cambioColor {
  0% { color: red; }
  25% { color: green; }
  50% { color: blue; }
  75% { color: orange; }
  100% { color: purple; }
}
.image-description {
  display: none;
}
#image-description-1{
  display: none;
}
.toggle-button {
  font-size: 12px;
  padding: 5px 10px;
  width: 40%;
}
.custom-image {
  width: 300px;
  height: 200px;
}
.custom-img{
  width: 280px;
  height: auto;
}
/*header {
  
  color: #fff;
  padding: 0px;
  text-align: center;
}*/
/* computers*/
#galeria img{
  width: 100%;
  height: 300px;
}
#galeria .col-lg-4{
  margin: 0 !important;
  padding: 25px;

}
#galeria img:hover {
  border: 5px solid #fff  ;
}

.container-img{
  position: relative;
  left: 40%;
  top: 40%;
  transform: translate(-50%, -0%);
  -webkit-transform: translate(-50%, -0%);
  -moz-transform: translate(-50%, -0%);
  -ms-transform: translate(-50%, -0%);
  -o-transform: translate(-50%, -0%);
  padding: 0px;
  width: 90%;
  text-align: center;
  background-color: #fff;
  color: #0a0008;
  margin: 10%;
}

.imagen:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;}
.container.styles{
  margin: 0 auto !important;
}
.col{
  margin: 0 auto !important;
  height: auto;
  margin: 0 auto;
  padding-top: 20px;
}
.banner-video{
  background-image:url(assets/img/imagen\ 29.jpg) ;
  padding: 200px 0;
  position:relative;
  text-align: center;
  width: 80%;
  margin: auto;
}
.banner-video img{
  width: 80px;
  height: 80px;
  position:relative;
}
.mapa{
  margin-top: 40px;
}
.info {
  flex: 1;
  padding: 20px;
  /* Estilos para la información, como fuente, color de fondo, bordes, etc. */
}

h2 {
  font-size: 24px;
  color: #333;
}

p {
  font-size: 16px;
  color: #666;
}
.texto-p{
  margin-top: 30px;
  padding: 0px;
}
.styles-pc{
  margin-top: 30px;
}
.banner-video{
  margin-top: 30px;
}
.container-styles{
  margin-top: 50px;
  margin-left: 80px;
  margin-right: 80px;
}
/* laptops*/
.container-img{
  background-color: rgba(77, 196, 243, 0.7);
  color: #fff;
  padding: 0px;

}
.container-pres{
  margin: auto;
  width: 100%; 
  padding: 100px;
  font-family: 'Arial', sans-serif; 
  color: #070707;  
}

/*.container-img{
  width: 80%;
  
}*/
/*logo redes sociales*/
.iconos-redes-header{
  width: 30px;
  margin: 10px 5px;

}

/*search*/
.search-est{
  width: 100px;
}
.btn-search {
  font-size: 14px;
  padding: 5px 10px;
  width: 120px;
  height: 50px;
}
.search-input {
  padding: 22px 30px; /* Ajusta el relleno superior e inferior y el relleno izquierdo y derecho según tu preferencia */
  font-size: 50px; /* Ajusta el tamaño de fuente según tu preferencia */
  margin: 10; /* Ajusta el margen según tu preferencia */
}

/* tabla m*/

table {
  border-collapse: collapse;
  width: 80%;
  margin: 20px auto;
  white-space: nowrap;
}
.table-manten{
  overflow-x: auto;
}


th, td {
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}

.edit-cell {
  background-color: #e0e0e0;
}
.btn-man{
  font-size: 16px; /* Cambiar el tamaño del texto de todos los botones */
    padding: 1px 8px; /* Cambiar el padding de todos los botones */
    width: 250px;
    margin: 5px;
    max-width: 100%; /* Ancho máximo del 100% para hacerlos responsive */
    width: auto; /* Ancho automático para adaptarse al contenido */
    box-sizing: border-box; /* Mantener el tamaño total, incluyendo el relleno */
    background-color: #57b7ee;
}
.buton-manten{
  text-align: center; /* Centrar los botones horizontalmente */
  margin: 20px 0; /* Agregar espacio en la parte superior e inferior de los botones */
}
.product-container {
  text-align: center; /* Centrar los elementos de la lista horizontalmente */
  margin: 20px 0; /* Agregar espacio en la parte superior e inferior de la lista de productos */
}
#product-ul {
  list-style-type: none; /* Quitar los marcadores de lista */
  padding: 0; /* Eliminar el relleno por defecto de la lista */
  margin: 0; /* Eliminar el margen por defecto de la lista */
  display: flex; /* Usar Flexbox para la disposición en filas */
    flex-wrap: wrap; /* Permitir que los elementos se envuelvan en varias filas */
    justify-content: center; /* Centrar horizontalmente los elementos en la fila */
}

/* Estilos para los elementos de la lista de productos */
#product-ul li {
  margin: 10px 0; /* Agregar espacio entre los elementos de la lista */
  width: calc(33.33% - 20px); /* Calcular el ancho para tres columnas con margen */
}


/* tabla de mantenimiento*/
.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
}
.btn-small {
  padding: 5px 50px;
  font-size: 12px;
  width: 200px;
}



/* Otros estilos (copiados del código anterior) */


.container-tabla {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
}

.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #007bff;
  color: #fff;
}

.btn-danger {
  background-color: #dc3545;
}


/* Agregamos estilo para alinear la descripción debajo de la imagen */
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%; 
  overflow: hidden;
}

.style-text {
  margin-top: 10px;
  text-align: center;
}

/* Estilo para dar espacio entre la imagen y el botón */
.image-container img,
.image-container button {
  margin-bottom: 10px;
}
/*portafolio index.html*/
.portafolio{
  height: auto;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(assets/img/fondoportafolio2.jfif);
  position: relative;
  padding: 10%;
  margin-top: 10px;
  margin-bottom: 100px;


}
.portafolio .row{
  background-color: rgba(1, 1, 1, 0.7);
  color: #fff;
  padding: 2%;
}
.ewk_cont_img{
  padding: 5%;
}
.terminar{
  background-color: rgba(1, 1, 1, 0.7);
  padding: 10%;
  color: #fff;
  margin-top: 100px;
}
.ewk_cont_footer a{
  color: #fff;
  text-decoration:none;
  display: block;

}
.ewk_cont_img_footer{
  padding: 5%;
}
/*contact*/
*

body{
  background: linear-gradient( #c1ebff 30%, #c1ebff 10%);
  align-items: center;
    justify-content: center;
    
}

.contact-container {
  background: rgba(0, 0, 0, 0.5); /* Fondo ligeramente sombreado */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.contact-form {
  background: #7fc1f7;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  text-align: left; /* Alineación del formulario */
}

.contact-info-box {
  background: #7fc1f7; /* Fondo oscuro */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.contact-info p {
  font-size: 16px;
  margin: 10px 0;
}
.colorful-border {
  border: 2px solid transparent;
  border-image: linear-gradient(0deg, #f06, #f90, #09f, #f06);
  border-image-slice: border-box;
  border-image-slice: 1;
  transition: border-image 0.3s ease;
}

.colorful-border:focus, .colorful-border:hover {
  border-color: rgb(15, 11, 243);
}

/* contacto*/
    
/*servicios*/
.servicios{
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("assets/img/fondo3.png");
  background-attachment: fixed;
}

.card-group{
  margin: 0 auto !important;
}
.servicios h1,h2,h3,h4,h5,h6{
  
  text-transform: uppercase;
}
.card-img-top{
  width: 300px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 30px;


} 
.carousel-inner{
  
  max-width: 2048px;


}
.buscador{
  background-color: #e75116;
}
/*diseño tabla*/


table, th, td {
  border: 1px solid black;
}
.tab-man{
  overflow-x: auto;
}

.btn-edit, .btn-delete {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 5px;
}

.btn-edit {
  background-color: #0099ff;
  color: white;
}

.btn-delete {
  background-color: #f44336;
  color: white;
}

@media screen and (max-width: 600px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }
  #intro {
    width: 80% !important;
  }
  .carrousel-img {
    width: 80%;
  }
  .text-pag {
    width: 80%;
  }
  .styles-pc {
    width: 80%;
  }
  .center-content {
    width: auto;
  }
}

.styles-pc h5 {
  margin-left: auto;
  margin-right: auto;
  width: 300px; /* Ajusta el ancho del contenedor del texto */
  margin-top: 10px; /* Ajusta el margen superior según sea necesario */
  margin-bottom: 10px; /* Ajusta el margen inferior según sea necesario */
}
.nav-item a:hover{
  background-color: rgb(205, 211, 250);
  padding: 15px 5px;
  color: black;
  border-bottom: 5px solid #ffae00;
  border-radius: 5px;
}

.navbar-nav .nav-link {
  font-weight: bold;
}

.centrar-imagen {
  display: block;
  margin: 0 auto;
}