
.icon-share:before { content: '\e800'; } /* '' */
.icon-globe:before { content: '\e801'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-youtube:before { content: '\f313'; } /* '' */
